<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>visualrecognitionApi_key</key>
	<string>634SdHeKrr8oyGyx40-4Gl4jtVOrqkaD3RSOmb5bsV48</string>
	<key>cloudantUrl</key>
	<string>https://6989c9c3-bf0a-48e3-809a-dfbfeb5d2f72-bluemix:2ad713a812719d735b9131f00e67a12f3d7e4fd682810db6a73aef4fd4ec6996@6989c9c3-bf0a-48e3-809a-dfbfeb5d2f72-bluemix.cloudantnosqldb.appdomain.cloud</string>
</dict>
</plist>
